body {background: linear-gradient(70deg, blue, pink);
     url("https://mdn.mozillademos.org/files/15525/critters.png");
      }
h1 {
	color:red;
	font-size:150px;
}

img:hover {background-color:gold}
.brocli {background-color:grey;
       border-color=white;}
